{% extends "base.html" %}
{% block body %}
    <h1 style="margin-left: 45%; margin-top: 2%;">All Favorite Meal</h1>
    <div class="container grid grid--3-cols margin-bottom-md">
        {% for meal in meals %}
        <div class="meal">
          <img
            src="{{ url_for('static', filename='img/meals/' + meal.image) }}"
            class="meal-img"
            alt="{{ meal.name }}"
          />
          <div class="meal-content">
            <div class="meal-tags">
              <span class="tag tag--vegetarian">{{ meal.type }}</span>
            </div>
            <p class="meal-title">{{ meal.name }}</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon
                ><span><strong>{{ meal.calories }}</strong> calories</span>
              </li>
              <li class="meal-attribute">
                <ion-icon
                  class="meal-icon"
                  name="restaurant-outline"
                ></ion-icon>
                <span> NutriScore &reg; <strong>{{ meal.nutriScore }}</strong></span>
              </li>
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon
                ><span><strong>{{ meal.rating }}</strong> rating ({{ meal.reviews }})</span>
              </li>
                <li class="meal-attribute">
                    <a href="{{ url_for('delete_favorite', meal_id=meal.id) }}" class="btn btn--primary btn--inside uppercase">Delete</a>
                </li>
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
{% endblock %}
