{% extends "base.html" %}
{% block body %}
    <div class="container grid grid--3-cols margin-bottom-md">
        {% for meal in meals %}
        <div class="meal">
          <img
            src="{{ url_for('static', filename='img/meals/' + meal.image) }}"
            class="meal-img"
            alt="{{ meal.name }}"
          />
          <div class="meal-content">
            <div class="meal-tags">
              <span class="tag tag--vegetarian">{{ meal.type }}</span>
            </div>
            <p class="meal-title">{{ meal.name }}</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon
                ><span><strong>{{ meal.calories }}</strong> calories</span>
              </li>
              <li class="meal-attribute">
                <ion-icon
                  class="meal-icon"
                  name="restaurant-outline"
                ></ion-icon>
                <span> NutriScore &reg; <strong>{{ meal.nutriScore }}</strong></span>
              </li>
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon
                ><span><strong>{{ meal.rating }}</strong> rating ({{ meal.reviews }})</span>
              </li>
                <li class="meal-attribute">
                    {% if not meal.is_favorited and current_user.is_authenticated %}
                <form class="favorite-form" action="{{ url_for('add_to_fav', meal_id=meal.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button style="background-color: transparent; border: none;" type="submit"><ion-icon name="bookmark-outline" class="favorite"></ion-icon></button><span class="favorite-span">
                    Add to favorites
                </span>
                </form>
                    {% else %}
                    <ion-icon name="bookmark" class="favorite"></ion-icon><span class="favorite-span">
                    Already in favorites
                </span>
                    {% endif %}
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
{% endblock %}
